*{
    margin: 0;
    padding: 0;
}

body {
    font-family:'Times New Roman';
    font-weight: 900;
    color:#f5f8fc;
}

a {
    text-decoration: none;
}

img {
    max-width: 50%;
}

.wapper{
    background: rgb(34, 25, 133);
    background: linear-gradient(90deg, rgb(45, 37, 131) 0%, rgb(88, 107, 209) 46%, rgb(37, 34, 136) 100%);
    width: 100%;
}

.contenet {
    width: 1400px;
    margin:0 auto;
}

header {
    padding: 50px 0px;
}

head.logo  {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 100;
}

.wapper .content img{
    width: 10%;
    height: 10%;
    margin-top: 8px;
}

.wapper div {
    margin-top: 8px;
    margin-left: 6px;
    white-space: 9;
    margin-left: 8px;
}

header nav {
    float: right;
    width: 40%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-right:80px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
   color: #ffffff;
}

.hero {
    padding-bottom: 100px;
    position: relative;
}

.hero--game {
    border-radius: 10px;
    height: 40px;
    margin-right: 90px;
}
.hero--game ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

header nav ul {
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #c70e0e(192, 24, 24);
}

header nav ul li.active::after{
    content: '';
    display: block;
    width: 72px;
    height: 5px;
    border-radius: 9px;
    position: relative;
    top: 3px;
    left:1px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px ;
    border-radius: 10px;
    top:5px;
    height: 2px;
    transform: scale(1.1)
}

div ul li a {
    color: rgb(206, 36, 36);
}

div ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px ;
    border-radius: 10px;
    top:5px;
    position: relative;
    height: 5px;
}

div ul li:hover {
    cursor: pointer;
    transform: scale(1.1)
}

/*попытка исправить это ничтожество*/
.game-container{
    color: #b0c5df;
    background: #0e3c92;
    border-radius: 10px;
}/*отчаяные попытки закончились*/

footer{
    background: #0e0529;
}
footer img{
    width: 30px;
    height: 30px;
    padding: 20px 10px;
    border-radius: 10px;
}

footer p{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

footer h5{
    margin-top: 20px;
    color: #0e0529;
}

.govno h2 span{
    color: #db110a;
    background: #e0e7f1;
    border-radius: 15px;
    padding: 5px;
    margin-left: 50px;
}

.govno img{
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 60px;
    margin-bottom: 9px;
}

.fon{
    background: rgb(34, 25, 133);
    background: linear-gradient(90deg, rgb(45, 37, 131) 0%, rgb(88, 107, 209) 46%, rgb(37, 34, 136) 100%);
    width: 100%;
}
